.hide {
  display: none;
}
h1,
p {
  text-align: center;
  justify-content: center;
  padding: 20px;
  padding-top: 0px;
}
.highscore {
  float: left;
  position: absolute;
}
.timer {
  float: right;
}
.start-btn {
  justify-content: center;
}
